$color-primary: #3fdedd;
$color-primay-light: #74eceb;
$color-input-border: #01C5C4;
$color-secondary: #B8DE6F;
$color-secondary-light: #c3dc9c;
$color-avatar: #F1E189;
$color-border-avatar: #979797;
$color-user-avatar: #F39233;
$color-error: #FF6C26;
$color-text: #6A6868;
$color-background: #FFFFFF;
$color-background-layout: #E7E7E7;
$color-batton-disabled:#97a8a4;

$font-family-main: Helvetica;

$border-radius: 16px 4px 16px 4px;
$box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);